header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px;
}

.nav__title{
    color: white;
}

img{
    color: whitesmoke;
    height: 50px;
    width: 50px;
}